.cell1 {
    grid-column: 1 / 5;
    grid-row: 1 / 16;
}

#helloArea {
    grid-column: 5 / 12;
    grid-row: 4 / 12;
}

#questionArea {
    grid-column: 7 / 10;
    grid-row: 12 / 14;
}

.lastCell {
    grid-column: 12 / 16;
    grid-row: 1 / 16;
}